exportPattern("^[[:alpha:]]+")
import("Formula")
import("expm")
import("numDeriv")
import("stats")
importFrom("lmtest", "coeftest", "waldtest")
importFrom("grDevices", "dev.interactive")
importFrom("graphics", "abline", "mtext", "par", "plot", "title")
S3method(coef, CountsEPPM)
S3method(cooks.distance, CountsEPPM)
S3method(fitted, CountsEPPM)
S3method(logLik, CountsEPPM)
S3method(hatvalues, CountsEPPM)
S3method(plot, CountsEPPM)
S3method(predict, CountsEPPM)
S3method(print, CountsEPPM)
S3method(print, summaryCountsEPPM)
S3method(residuals, CountsEPPM)
S3method(vcov, CountsEPPM)
S3method(waldtest, CountsEPPM)
S3method(summary, CountsEPPM)
